name: SonarCloud Analysis

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  SonarCloud:
    name: SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install modules
        run: npm ci
      - name: Testing coverage
        run: npm run test:prod
        env:
          USER: ${{ secrets.USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
          CLUSTER: ${{ secrets.CLUSTER }}
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

        with:
          args:
            -Dsonar.projectKey=AldanaArcidiacono_202210-w7-ch1-aldana-arcidiacono
            -Dsonar.organization=aldanaarcidiacono
